<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

      <p class="font-18 bold margin-t-15">確認メールを再送する</p>
				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="margin-b-15">
				    <%= f.label :email, "メールアドレス" %><br />
				    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
				  </div>

				  <div class="actions">
				    <%= f.submit "確認メールを再送", class: "margin-b-80 prim-btn" %>
				  </div>
				<% end %>

				<%= render "users/shared/links" %>

    </div><!-- End of col-12 -->
  </div><!-- End of row -->
</div><!-- End of container -->

<%= render :partial => 'footer/footer_not_selected' %>