<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >
			<div class="home-navi clearfix">
				<div class="btn-selected float-left">文</div>
				<%= link_to vocabularies_path do %>
					<div class="btn-unselected float-left">単</div>
				<% end %>
				<div class="float-right">
					<%= form_tag(sentences_path, method: "GET", class: "underline") do %>
						<%= text_field_tag :search_ja, "", placeholder: "日本語を検索", style: "width: 100px;", class: "border-none" %>
						<%= button_tag( class: "svg-btn letter-bottom", name: nil) do %>
						  <%= render :partial => 'svg/search' %>
						<% end %>
					<% end %>
					<%= form_tag(sentences_path, method: "GET", class: "underline") do %>
						<%= text_field_tag :search_ch, "", placeholder: "中国語を検索", style: "width: 100px;", class: "border-none" %>
						<%= button_tag( class: "svg-btn letter-bottom", name: nil) do %>
						  <%= render :partial => 'svg/search' %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div id="sentences-chank-home">
				<% @sentences.each do |sentence| %>
					<div class="sentence-chank">

						<!-- コピーボタン or 編集ボタン-->
						<div class="float-right font-12 thin-link">
							<% if user_signed_in? && sentence.book.user_id != current_user.id %>
								<!-- 短文コピーボタン -->
								<div type="button" class="float-right svg-btn" data-toggle="modal" data-target="#copy-book">
								  <%= render :partial => 'svg/copy_sentence' %>
								</div>
								<div class="modal fade" id="copy-book" tabindex="-1" aria-hidden="true">
									<%= form_tag sentence_copy_path (sentence.id) do %>
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<p class="font-18 bold">短文をコピーする</p>
												</div>
												<div class="modal-body">
													どの短文帳に入れますか？<br>
													一度コピーボタンを押すとちゃんとコピーされていますので、モーダルを閉じて大丈夫です。<br><br>
										      <div class="form-group radio-wrap text-center">
										      	<% current_user.books.each do |book| %>
											        <label class="label-radio">
											          <input type="radio" name="book_id" value="<%= book.id %>" required checked/>
											          <span class="lever"><%= book.name %></span>
											        </label>
										        <% end %>
										      </div>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
									        <%= submit_tag "コピー", class: "prim-btn"%>
									      </div>
									    </div>
									  </div>
									<% end %>
								</div><!-- End of 短文コピー -->
							<% end %>
							<% if user_signed_in? && sentence.book.user_id == current_user.id %>
								<%= link_to edit_sentence_path(sentence) do %>
									編集
								<% end %>
							<% end %>
						</div>

						<!-- left-sentence -->
						<div class="left-sentence-wrapper float-left"">
							<% if sentence.book.user.image? %>
								<%= link_to user_path(sentence.book.user) do %>
									<%= image_tag sentence.book.user.image.thumb.url, :alt => "icon", :class => "icon" %>
								<% end %>
							<% else %>
								<%= link_to user_path(sentence.book.user) do %>
									<img class="icon" alt="no-icon" src="/images/no-icon.png">
								<% end %>
							<% end %>
							<p class="left_balloon">
								<%= sentence.ja %>
								<a href="https://www.google.co.jp/search?q=<%= sentence.ja %>%20中国語" target="_blank">
								<%= render :partial => 'svg/google_mini' %>
								</a>
							</p>
						</div>

						<!-- right-sentence -->
						<p class="right_balloon">
							<%= sentence.ch %>
							<a href="https://www.google.co.jp/search?q=<%= sentence.ja %>%20中国語" target="_blank">
							<%= render :partial => 'svg/google_mini' %>
							</a>
						</p>
						<br class="clear_balloon"/>
						<% if sentence.pin.present? %>
							<p class="right_balloon"><%= sentence.pin %></p>
						<% end %>
						<% unless sentence.words.first == nil %>
							<div class="float-left">
								<button class="svg-btn" type="button" data-toggle="collapse" data-target="#words-open<%= sentence.id %>" aria-expanded="false" aria-controls="collapseExample">
									<%= render :partial => 'svg/words' %>
								</button>
							</div>
							<br class="clear_balloon"/>
							<div class="collapse" id="words-open<%= sentence.id %>">
								<div class="card card-body">
									<table class="table table-sm">
										<thead>
											<tr>
												<th scope="col" class="center-align">日</th>
												<th scope="col" class="center-align">中</th>
												<th scope="col" class="center-align">Pin</th>
											</tr>
										</thead>
										<tbody>
											<% sentence.words.each do |word| %>
												<tr>
													<th scope="col" class="center-align"><%= word.ja %></th>
													<th scope="col" class="center-align"><%= word.ch %></th>
													<th scope="col" class="center-align"><%= word.pin %></th>
												</tr>
											<% end %>
										</tbody>
									</table>
							  </div>
							</div>
						<% end %>
						<br class="clear_balloon"/>
					</div>
					<div class="center-align thin-link">
						<%= link_to book_sentence_ja_path(sentence.book) do %>
							<%= sentence.book.name %>
						<% end %>
						<hr>
					</div>
				<% end %>
				<%= paginate @sentences %>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'footer/footer_home_selected' %>
