<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

			<p class="font-30 margin-t-15 bold">短文を作成する</p>
			<%= form_for @sentence, method: :post do |f| %>

				<!-- 短文帳選択 -->
				<div class="margin-b-30">
					<%= label_tag(:book, "作成先の短文帳") %><br>
					<% if params[:book_id].present? %>
						<%= f.collection_select 'book_id', @mybooks, :id, :name, selected: params[:book_id] %>
					<% else %>
						<%= f.collection_select 'book_id', @mybooks, :id, :name %>
					<% end %>
				</div>

				<!-- 短文フォーム -->
				<div class="">
					<%= label_tag(:ja, "日本語") %><br>
					<%= f.text_area :ja, placeholder: "日本語文を書く", class: "width-max", :required => true %>
					<br>
					<br>

					<%= label_tag(:ch, "中国語") %><br>
					<%= f.text_area :ch, placeholder: "中国語文を書く", class: "width-max", id: "sentence-ch", :required => true %>
				</div>
				<div id="auto-words" class="margin-b-80">
					<button type="button" class="second-btn">
						中国語を1文字ずつ抜き出す
					</button>
				</div>

				<!-- 単語フォーム -->
				<strong>単語</strong>
				<br><br>
				<%= render :partial => "form/sentence_new_words", :locals=>{:f=>f} %>

				<%= f.submit "作成", class: "margin-tb-50 prim-btn", id: "" %>
			<% end %>

		</div><!-- End of col-12 -->
	</div><!-- End of row -->
</div><!-- End of container -->

<%= render :partial => 'footer/footer_new_sentence_selected' %>