<ul class="">
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= f.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "単語（日）", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "単語（中）", class: "w-c-ch" %>
    <% end %>
  </li>
</ul>