<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
              ..+g=!~?=,            .(i,
             ," MMb  .J.[  .JNMMMNa.gqM$~.
            .l.(dMMPjMMMb.MMMMMMMMMMMNQ.,{
             ..MN+MMMMMMMMMMMMMMMMMMMMMM%(:4a,
     ..gNMMMH"""!`     JMMMMMMMMMMMMMMMMMMBMD <
  .dM"^                MMMMMMMMMMMMMMMMMMMMgmN,
 .M=                   dMMMMMMMMMMMMMMMMMMMMMb
.M^           ....x7""!_WMMMMMMMMMMMF ,MMMMMMMN,
J#    ..J""7!            ?MMMMMMMMMMNgdMMMMMMMMMb
(M. .f`                    TMMMMMMMMMMMMMMMMMMMMM]
 MN.^                  ...MMMMMMMMMMMMMMMMMMMMMMMF
 (MMa.      ....(gNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMt
  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM!TMMMMMMMMMMMMMMF
  ?MMMMMMMMMMMMMMMMMMMMMMMMMMMM^   TMMMMMMMMMMM=
   WMMMMMMMMMMMMMMMMMMMMMMMMM"       ?THMMM""`
    ?MMMMMMMMMMMMMMMMMM"""=`
      (THMMMM"""7`


    learning Chinese efficiently?
    Contact me
    https://note.mu/kasaihikaru
    -->


    <!-- title -->
    <meta name="keywords" content="中国語学習, 中国語, 中国語会話, 瞬間作文">
    <meta name="description" content="">
    <title>中国語学習サイト || BENTO Chinese || 単語短文暗記</title>

    <!-- デスクリプションを不用意に変更されないようにする -->
    <meta content='NOYDIR' name='ROBOTS'>
    <meta content='NOODP' name='ROBOTS'>

    <!-- アイコン -->
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- For GA -->
    <%= analytics_init if Rails.env.production? %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
    <div class="brand-top">
      <p class="center-align margin-0">BENTO Chinese</p>
    </div>
    <div class="contents">
      <% if notice.present? %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
