<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

      <div class="clearfix">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "second-btn hover-fifth float-right margin-t-15" %>
      </div>





      <p class="font-18 bold margin-t-15">プロフィールを編集する</p>
      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="margin-b-30">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true, maxlength: "8", placeholder: "BENTO", class: "input-text-width-100" %>
        </div>

        <div class="margin-b-30">
          <span class="bold">アイコン画像</span><span class="font-12 margin-l-10">正方形に切り取られます</span><br>
          <%= image_tag current_user.image.url, alt: "icon", class: "image" if current_user.image? %><br>
          <%= f.file_field :image %>
        </div>


        <div class="margin-b-30">
          <%= f.label :introduction, "自己紹介" %><br />
          <%= f.text_area :introduction, autofocus: true, maxlength: "2000", placeholder: "勉強の目標や、プロフィールを書こう！", class: "input-textarea-width-100" %>
        </div>

        <div class="margin-b-30">
          <%= f.label :link, "リンク" %><br />
          <%= f.text_field :link, autofocus: true, maxlength: "1000", placeholder: "ブログやSNSなどのリンクを貼ることができます", class: "input-text-width-100" %>
        </div>

        <div class="margin-b-30">
          <span class="bold">メールアドレス</span><span class="font-12 margin-l-10">非公開</span><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "bento@example.com", class: "input-text-width-100" %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="margin-b-30">
          <span class="bold">新しいパスワード</span><span class="font-12 margin-l-10">変更しない場合は、空欄にしてください。</span><br>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "input-text-width-100" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "input-text-width-100" %>
        </div>


        <div class="actions">
          <%= f.submit "更新", class: "margin-b-80 prim-btn" %>
        </div>
      <% end %>


      <p><%= button_to "退会して勉強をやめる", registration_path(resource_name), data: { confirm: "真的吗？！" }, method: :delete, class: "svg-btn" %></p>
      <br><br><br>




    </div><!-- End of col-12 -->
  </div><!-- End of row -->
</div><!-- End of container -->

<%= render :partial => 'footer/footer_not_selected' %>