<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >


      <p class="font-18 bold margin-t-15">ユーザー登録をして勉強を始めよう</p>
      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="margin-b-30">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true, maxlength: "8", placeholder: "BENTO", class: "input-text-width-100" %>
        </div>

        <div class="margin-b-30">
          <span class="bold">メールアドレス</span><span class="font-12 margin-l-10">非公開</span><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "bento@example.com", class: "input-text-width-100" %>
        </div>

        <div class="margin-b-30">
          <span class="bold">パスワード</span><br>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "input-text-width-100" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "input-text-width-100" %>
        </div>

        <div class="actions">
          <%= f.submit "ユーザー登録", class: "margin-b-80 prim-btn" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>



    </div><!-- End of col-12 -->
  </div><!-- End of row -->
</div><!-- End of container -->

<%= render :partial => 'footer/footer_not_selected' %>